@keyframes pulse {
    0%, 100% {
        filter: saturate(60%);
    }

    50% {
        filter: saturate(120%);
    }
}

#splashScreen {
    width: 100%;
    height: min(100vh, 45vw);
    display: flex;
    background: linear-gradient(180deg, var(--main-color) 0%, var(--main-color-dark) 100%);
}

#splashScreen>#introductionContainer {
    width: auto;
    height: auto;
    flex-grow: 1;
    color: white;
    margin: 15% -10% auto 5%;
}

#splashScreen>#introductionContainer>h1 {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
}

#splashScreen>#introductionContainer>p {
    font-size: 1.5vw;
    margin: 0;
}



/* Logo Display */
#splashScreen>#coverWrapper {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    overflow: clip;
}

#splashScreen>#coverWrapper>#coverContainer {
    width: 64vw;
    height: auto;
    background: linear-gradient(180deg, #373737 0%, var(--footer-color) 70%);
    display: flex;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(15deg) rotateY(-20deg) rotateZ(10deg) translateX(5vw) translateY(-12vw) translateZ(0px) skewX(0deg) skewY(0deg);
    padding: 2vw;
}

#splashScreen>#coverWrapper>#coverContainer>div {
    width: auto;
    display: flex;
}

#splashScreen>#coverWrapper>#coverContainer>div>.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>* {
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--gradient);
    border-radius: 20%;
    margin: 0 auto;
    scale: 1;
    filter: grayscale(40%);
    transition: all 0.8s ease;
    overflow: clip;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>*:hover {
    filter: grayscale(0%);
    scale: 1.02;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper>* {
    width: 83.33%;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper #logo {
    width: 91.66%;
    aspect-ratio: 268.835/208.368;
    background: transparent;
    margin: 0 auto;
    filter: none;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper #logo>div {
    background: var(--gradient);
    color: transparent;
    animation: pulse 5s infinite;
    animation-play-state: paused;
    mask-image: url(/images/innerLogoBackground.svg);
    mask-size: contain;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper #logo>div:hover {
    animation-play-state: running;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper #logo>img {
    pointer-events: none;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>* * {
    width: 100%;
    height: 100%;
    position: absolute;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>* .icon {
    opacity: 0.85;
    transition: scale 0.8s ease, opacity 0.4s ease;
    scale: 1;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>* .icon:hover {
    opacity: 1;
    scale: 1.02;
}

#splashScreen>#coverWrapper>#coverContainer>#leftIconStack,
#splashScreen>#coverWrapper>#coverContainer>#rightIconStack {
    width: 31.25%;
}

#splashScreen>#coverWrapper>#coverContainer>#leftIconStack>.wrapper,
#splashScreen>#coverWrapper>#coverContainer>#rightIconStack>.wrapper {
    width: 100%;
    display: flex;
    margin: auto 0;
    gap: 4vw;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack {
    width: 37%;
}

/* Icon Styling */
#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#battleMemeGeneratorIcon {
    background: linear-gradient(30deg, #38e261 0%, #5af8a1 100%);
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#allOutAttackGeneratorIcon {
    background: linear-gradient(30deg, #b9021b 0%, #ee0214 100%);
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#mysteryProjectIcon {
    background: linear-gradient(30deg, #f29202 0%, #fbde21 100%);
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#ordinarySpaceShooterIcon {
    background: radial-gradient(circle, #19173c 0%, #120c21 100%);
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#geoBackgroundGeneratorIcon {
    background: transparent;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>#benPlaysGamesSoundboardIcon {
    background: #1c1e76;
}