<footer>
    <div id="footerContainer">
        <div id="footerTop">
            <div id="logos">
                <a class="socialLink" href="/" title="Home">
                    <img id="logo" src="{{ get_url(path='images/innerLogoOutline.svg') }}" alt="Dynamotivation Logo"
                        draggable="false"/>
                </a>
                <a class="socialLink" href="https://github.com/Dynamotivation"
                    title="Dynamotivation on GitHub">
                    <img src="{{ get_url(path='images/gitHub/icon.svg') }}" alt="GitHub" draggable="false"/>
                </a>
            </div>
            <div id="linkColumns">
                <div id="main">
                    <p>Main</p>
                    <a href="/news">News</a>
                    <a href="/blog">Blog</a>
                    <a href="/projects/software">Software</a>
                </div>

                <div id="projects">
                    <p>Projects</p>
                    <a href="/projects/software">Software</a>
                    <a href="/projects/3d-assets">3D Assets</a>
                    {# <a href="/projects/hoaxes">Hoaxes</a> #}
                </div>

                <div id="about">
                    <p>About</p>
                    {# <a href="/contact">Contact</a> #}
                    <a href="/legal-notice">Legal Notice</a>
                    <a href="/privacy-notice">Privacy Notice</a>
                    <a href="/third-party-licenses">Third Party Licenses</a>
                </div>
            </div>
        </div>
        <div id="footerBottom">
            <p>© 2024 - {{ now() | date(format="%Y") }} Dynamotivation</p>
        </div>
    </div>
</footer>