<footer>
    <div id="footerContainer">
        <div id="footerTop">
            <div id="logos">
                <a class="socialLink" href="{{ get_url(path='', trailing_slash=true) }}" title="Home">
                    <img id="logo" src="{{ get_url(path='images/innerLogoOutline.svg') }}" alt="Dynamotivation Logo"
                        draggable="false"/>
                </a>
                <a class="socialLink" href="https://github.com/Dynamotivation"
                    title="Dynamotivation on GitHub">
                    <img src="{{ get_url(path='images/gitHub/icon.svg') }}" alt="GitHub" draggable="false"/>
                </a>
            </div>
            <div id="linkColumns">
                <div id="main">
                    <p>Main</p>
                    <a href="{{ get_url(path='news/', trailing_slash=true) }}">News</a>
                    <a href="{{ get_url(path='blog/', trailing_slash=true) }}">Blog</a>
                    <a href="{{ get_url(path='portfolio/software/', trailing_slash=true) }}">Software</a>
                </div>

                <div id="portfolio">
                    <p>Portfolio</p>
                    <a href="{{ get_url(path='portfolio/software/', trailing_slash=true) }}">Software</a>
                    <a href="{{ get_url(path='portfolio/3d-assets/', trailing_slash=true) }}">3D Assets</a>
                    {# <a href="/portfolio/hoaxes">Hoaxes</a> #}
                </div>

                <div id="about">
                    <p>About</p>
                    {# <a href="/contact">Contact</a> #}
                    <a href="{{ get_url(path='legal-notice/', trailing_slash=true) }}">Legal Notice</a>
                    <a href="{{ get_url(path='privacy-notice/', trailing_slash=true) }}">Privacy Notice</a>
                    <a href="{{ get_url(path='third-party-licenses/', trailing_slash=true) }}">Third Party Licenses</a>
                </div>
            </div>
        </div>
        <div id="footerBottom">
            <p>© 2024 - {{ now() | date(format="%Y") }} Dynamotivation</p>
        </div>
    </div>
</footer>