<div id="header">
    <div id="headerContent">
        <a id="logoLink" href="/" title="Home">
            <div>
                <img id="logo" src={{ get_url(path="images/innerLogo.svg" ) }} alt="Dynamotivation Logo"
                    draggable="false">
                <img id="logoDuplicate" src={{ get_url(path="images/innerLogo.svg" ) }} draggable="false">
            </div>
        </a>

        <nav id="sectionLinks">
            <div>
                <a class="sectionLinkHitbox" href="/news" tabindex="-1">News</a>
                <a class="sectionLink" href="/news">News</a>
            </div>
            <div>
                <a class="sectionLinkHitbox" href="/blog" tabindex="-1">Blog</a>
                <a class="sectionLink" href="/blog">Blog</a>
            </div>
            <div>
                <a class="sectionLinkHitbox" href="https://github.com/Dynamotivation/All-Out-Attack-Generator" tabindex="-1">Software</a>
                <a class="sectionLink" href="https://github.com/Dynamotivation/All-Out-Attack-Generator">Software</a>
            </div>
        </nav>

        <nav id="userLinks">
            <a class="socialLink fa-brands fa-github fa-2x" href="https://github.com/Dynamotivation"
                title="Dynamotivation on GitHub"></a>
        </nav>
    </div>
</div>