:root {
    --page-max-width: 50rem;
    --software-section-max-width: 70rem;
    --post-height: 40rem;
    --post-min-width: 10rem;
    --post-max-width: 30rem;
}

.jsOnly {
    display: none;
}

#pageContainer {
    max-width: var(--page-max-width);
    margin: 10vh auto 5vh auto;
}

#pageContainer>#titleContainer {
    display: inline-block;
    max-width: 70%;
    position: relative;
    z-index: 3;
}

#pageContainer h1 {
    margin: 0 0 .7rem 0;
    font-size: 5rem;
}

#pageContainer>#descriptionContainer {
    margin-top: 2.4rem;
}

#fade-out-top {
    position: sticky;
    height: 2.8rem;
    top: 3.9rem; /*Header height + margins*/
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, var(--background-color) 70%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 1;
}

#fade-out-bottom {
    position: sticky;
    height: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
    pointer-events: none;
    z-index: 1;
}

#descriptionContainer * {
    font-size: 1.1rem;
    line-height: 1.8rem;
}



/* Post Styling */
@property --gradient-color-1 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}

@property --gradient-color-2 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}

#postGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--software-section-max-width);
    margin: 0 auto;
}

.postContainer {
    flex: 1 1 calc(var(--post-min-width) + 1rem);
    max-width: var(--post-max-width);
    margin-bottom: 2rem;
}

.postShadow {
    --gradient-color-1: var(--footer-color);
    --gradient-color-2: var(--footer-color);
    min-height: var(--post-height);
    background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
    filter: blur(.5rem);
    opacity: 0.3;
    position: relative;
    transform: scale(1);

    transition: background-size .4s ease, filter .4s ease, transform .4s ease, opacity .4s ease, --gradient-color-1 .5s, --gradient-color-2 .5s;
}

.postShadow:hover {
    --gradient-color-1: color-mix(in srgb, var(--accent-color) 35%, var(--footer-color) 65%);
    --gradient-color-2: color-mix(in srgb, var(--accent-color-alt) 35%, var(--footer-color) 65%);

    transform: scale(1.02);
}

.postBorder {
    --gradient-color-1: color-mix(in srgb, var(--footer-color) 80%, var(--background-color) 20%);
    --gradient-color-2: color-mix(in srgb, var(--footer-color) 80%, var(--background-color) 20%);
    pointer-events: none;
    background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
    position: relative;
    padding: .2rem;
    width: 95%;
    height: calc(var(--post-height) - .4rem);
    margin: calc(-1 * var(--post-height)) auto 0 auto;
    border-radius: 1rem;

    transition: --gradient-color-1 .5s, --gradient-color-2 .5s;
}

.postLink:hover+.postBorder {
    --gradient-color-1: color-mix(in srgb, var(--accent-color) 80%, var(--footer-color) 20%);
    --gradient-color-2: color-mix(in srgb, var(--accent-color-alt) 80%, var(--footer-color) 20%);
}

.logo {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
}

.postContent {
    height: calc(100% - 4rem); /*Subtracting padding*/
    border-radius: .8rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.postMetadata {
    margin-top: 2rem;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
}

.postTitle {
    font-size: 2em;
    word-break: break-all;
}

.postDate {
    margin: auto 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* allow children to wrap to the next line instead of overlapping */
    gap: .5rem;
}

.postDate > * {
    flex: 0 1 auto;
    word-break: keep-all;
    flex-basis: auto;
}