:root {
    --main-color: #ff4c4a;
    --main-color-dark: #893750;
    --accent-color: #4AFF83;
    --background-color: #ffffff;
    --gradient: linear-gradient(to right top, #4aff80, #3dffe5);
}

* {
    font-family: Rubik;
}

html,
body,
div,
head {
    padding: 0px;
    margin: 0px;
    border: 0;
}

body {
    background-color: var(--background-color);
}