.jsOnly {
    display: none;
}

#pageContainer {
    max-width: 65rem;
    margin: 15rem auto 10rem auto;
    /*position: relative;*/
}

#pageContainer>#titleContainer {
    display: inline-block;
    max-width: 70%;
}

#pageContainer h1 {
    margin: 0 0 .7rem 0;
    font-size: 5rem;
}

#pageContainer hr {
    width: auto;
    height: .7rem;
    margin: 0 -3rem 0 -.2rem;
    border: 0;
    border-radius: .5rem;
    background-color: var(--main-color-dark);
    z-index: auto;
}

#pageContainer noscript hr {
    margin-top: -.7rem;
    display: flex;
}

#stickyContainer {
    position: sticky;
    padding-top: 4.1rem;
    margin-top: -4.1rem;
    top: -1px;
}

#progressHr {
    transition: width 1s ease-out;
}

.isSticky {
    width: 100%;
}

.isSticky>#progressHr {
    margin-right: -.2rem;
}

#pageContainer>p:first-of-type {
    margin-top: 2.4rem;
}