#splashScreen {
    width: 100%;
    height: auto;
    display: flex;
}

#splashScreen>#introductionContainer {
    width: auto;
    height: auto;
    flex-grow: 1;
}

#splashScreen>#coverContainer {
    width: auto;
    height: auto;
    background-color: #787878;
    display: flex;
}

#splashScreen>#coverContainer>div {
    width: auto;
    display: flex;
}

#splashScreen>#coverContainer>div>.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#splashScreen>#coverContainer>*>.wrapper>* {
    width: 20vw;
    aspect-ratio: 1/1;
    background-color: aquamarine;
    border-radius: 2rem;
    margin: 0 auto;
}

#splashScreen>#coverContainer>*>.wrapper>#logo {
    width: 22vw;
    aspect-ratio: 268.835/208.368;
    background-color: transparent;
}

#splashScreen>#coverContainer>#leftIconStack>.wrapper,
#splashScreen>#coverContainer>#rightIconStack>.wrapper {
    width: 20vw;
    display: flex;
    margin: auto 0;
    gap: 4rem;
}

#splashScreen>#coverContainer>#centreLogoStack {
    width: 24vw;
}