#splashScreen {
    width: 100%;
    height: min(100vh, 45vw);
    display: flex;
    background-color: var(--main-color);
}

#splashScreen>#introductionContainer {
    width: auto;
    height: auto;
    flex-grow: 1;
    color: white;
    margin: 15% 0 auto 5%;
}

#splashScreen>#introductionContainer>h1 {
    font-size: 4vw;
    font-weight: bold;
    margin: 0;
}

#splashScreen>#introductionContainer>p {
    font-size: 1.5vw;
    margin: 0;
}



/* Logo Display */
#splashScreen>#coverWrapper {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    overflow: clip;
}

#splashScreen>#coverWrapper>#coverContainer {
    width: 64vw;
    height: auto;
    background-color: #504355;
    display: flex;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(15deg) rotateY(-20deg) rotateZ(10deg) translateX(5vw) translateY(-12vw) translateZ(0px) skewX(0deg) skewY(0deg);
    padding: 2vw;
}

#splashScreen>#coverWrapper>#coverContainer>div {
    width: auto;
    display: flex;
}

#splashScreen>#coverWrapper>#coverContainer>div>.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#splashScreen>#coverWrapper>#coverContainer>*>.wrapper>* {
    width: 100%;
    aspect-ratio: 1/1;
    background: var(--gradient);
    border-radius: 20%;
    margin: 0 auto;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper>* {
    width: 83.33%;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack>.wrapper>#logo {
    width: 91.66%;
    aspect-ratio: 268.835/208.368;
    background: transparent;
}

#splashScreen>#coverWrapper>#coverContainer>#leftIconStack,
#splashScreen>#coverWrapper>#coverContainer>#rightIconStack {
    width: 31.25%;
}

#splashScreen>#coverWrapper>#coverContainer>#leftIconStack>.wrapper,
#splashScreen>#coverWrapper>#coverContainer>#rightIconStack>.wrapper {
    width: 100%;
    display: flex;
    margin: auto 0;
    gap: 4vw;
}

#splashScreen>#coverWrapper>#coverContainer>#centreLogoStack {
    width: 37%;
}