{% macro qna(items, page_slug="") %}
  {# items: array of {question, answer} objects #}
  {# page_slug: optional custom slug for ID generation, defaults to page.slug or "page" #}
  {% if page_slug == "" %}
    {% set _slug = page.slug | default(value="page") %}
  {% else %}
    {% set _slug = page_slug %}
  {% endif %}
  <div class="qna">
  {% for item in items -%}
    {% set qna_question_slug = item.question | slugify %}
    {% set qna_id = "qna-" ~ _slug ~ "-" ~ loop.index ~ "-" ~ qna_question_slug %}
    <div class="qna-item">
      <input class="qna-toggle" type="checkbox" id="{{ qna_id }}">
      <label class="qna-question" for="{{ qna_id }}">Q: {{ item.question }}</label>
      <div class="qna-answer">
        <div class="qna-answer-inner"><span class="qna-answer-label">A:</span> {{ item.answer | markdown(inline=true) | safe }}</div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endmacro qna %}
