{% macro section_links(tabbing=true) %}
    <div>
        <a class="sectionLinkHitbox" href="/news" {% if not tabbing %}tabIndex="-1"{% endif %}>News</a>
        <span class="sectionLink">News</span>
    </div>
    <div>
        <a class="sectionLinkHitbox" href="/blog" {% if not tabbing %}tabIndex="-1"{% endif %}>Blog</a>
        <span class="sectionLink">Blog</span>
    </div>
    <div>
        <a class="sectionLinkHitbox" href="/projects/software" {% if not tabbing %}tabIndex="-1"{% endif %}>Software</a>
        <span class="sectionLink">Software</span>
    </div>
{% endmacro %}