{% set _is_hero = hero | default(value=false) %}
{% if figcaption %}
<figure>
{% endif %}
  <img src="{{ path }}"
    alt="{{ description
        | replace(from="*", to="")
        | replace(from="`", to="")
        | replace(from="[", to="")
        | replace(from="]", to="")
        | replace(from="(", to="")
        | replace(from=")", to="")
        | replace(from="  ", to=" ")
        | replace(from="-", to="_") }}"
    {% if itemprop %}itemprop="{{ itemprop }}"{% endif %}
    {% if _is_hero %}fetchpriority="high"{% endif %}
    style="{% if height %}height: {{ height }}; {% endif %}{% if width %}width: {{ width }}; {% endif %}{% if imageWidthPx and imageHeightPx %}aspect-ratio: {{ imageWidthPx }} / {{ imageHeightPx }}; {% endif %}{% if radius %}border-radius: {{ radius }}; {% endif %}"
    class="blogImage"/>
{% if figcaption %}
  <figcaption>{{ description | markdown(inline=true) | safe }}</figcaption>
</figure>
{% endif %}