{% extends "base.html" %}

{% block additionalResources %}

<title>{{ page.title }} | Dynamotivation</title>
<link rel="stylesheet" href={{ get_url(path="css/sections/page.css" ) }}>
{% block moreAdditionalResources %} {% endblock %}

<script src={{ get_url(path="js/blogPage.js" ) }} defer></script>


<meta name="title" content="{{ page.title }} | Dynamotivation">

{% if page.extra.in_sitemap is defined and page.extra.in_sitemap == false %}
<meta name="robots" content="noindex, nofollow">
{% else %}
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Dynamotivation">

{% if page.taxonomies %}
<meta name="keywords" content="{{ page.taxonomies.tags | join(sep=", ") }}">
{% endif %}

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.permalink | safe }}">
{% block article_meta %}{% endblock %}

{% block jsonld %}{% endblock %}

{% endif %}

{% endblock additionalResources %}

{% block content %}
<main id="pageContainer">
    <div id="fade-out-top"></div>
    <div id="titleContainer">
        <h1 id="pageTitle">{{ page.title }}</h1>
        <noscript>
            <hr>
        </noscript>
    </div>
    <div id="stickyContainer" class="jsOnly">
        <hr id="progressHr">
    </div>
    <div id="dateContainer">
        {% if page.date %}
        <p>Date: {{ page.date }}</p>
        {% endif %}
        {% if page.updated %}
        <p>Updated: {{ page.updated }}</p>
        {% endif %}
    </div>
    <div id="contentContainer">
        {{ page.content | safe }}
    </div>
    <div id="fade-out-bottom"></div>
</main>
{% endblock content %}