{% extends "base.html" %}

{% block additionalResources %}

<title>{{ page.title }} | Dynamotivation</title>
<link rel="stylesheet" href={{ get_url(path="css/sections/page.css" ) }}>
{% block moreAdditionalResources %} {% endblock %}

<script src={{ get_url(path="js/blogPage.js" ) }} defer></script>


<meta name="title" content="{{ page.title }} | Dynamotivation">

{% if page.extra.in_sitemap is defined and page.extra.in_sitemap == false %}
<meta name="robots" content="noindex, nofollow">
{% else %}
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Dynamotivation">

{% if page.taxonomies %}
<meta name="keywords" content="{{ page.taxonomies.tags | join(sep=", ") }}">
{% endif %}

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.permalink | safe }}">
{% block article_meta %}{% endblock %}

{% block jsonld %}
{# Emit NewsArticle JSON-LD for pages in the `news` section (including subsections) #}
{% set section_root = page.section | default(value='') | split(pat="/") %}
{% if section_root[0] == "news" %}
    {# Prefer frontmatter image fields if present #}
    {% set image_url = page.extra.image | default(value=page.extra.logo) %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "@id": "{{ page.permalink | safe }}#news",
        "headline": "{{ page.title }}",
        "description": "{{ page.description }}",
        "datePublished": "{{ page.date }}",
        "author": {"@type": "Person", "name": "Dynamotivation"},
        "publisher": {"@type": "Organization", "name": "Dynamotivation", "url": "{{ get_url(path='', trailing_slash=true) | safe }}", "logo": {"@type": "ImageObject", "url": "{{ get_url(path='images/fullLogo.png') }}"}},
        {% if page.updated %}"dateModified": "{{ page.updated }}",{% endif %}
        {% if image_url %}"image": "{{ image_url | safe }}",{% endif %}
        "mainEntityOfPage": {"@type": "WebPage", "@id": "{{ page.permalink | safe }}"}
    }
    </script>
{% endif %}
{% endblock %}

{% endif %}

{% endblock additionalResources %}

{% block content %}
<main id="pageContainer">
    <div id="fade-out-top"></div>
    <div id="titleContainer">
        <h1 id="pageTitle" style="view-transition-name: {{ hash_letters::hash_letters(input=page.title) }}">{{ page.title }}</h1>
        <noscript>
            <hr>
        </noscript>
    </div>
    <div id="stickyContainer" class="jsOnly">
        <hr id="progressHr">
    </div>
    <div id="dateContainer">
        {% if page.date %}
        <p>Date: <span style="view-transition-name: {{ hash_letters::hash_letters(input=page.date) }}">{{ page.date }}</span></p>
        {% endif %}
        {% if page.updated %}
        <p>Updated: {{ page.updated }}</p>
        {% endif %}
    </div>
    <div id="contentContainer">
        {{ page.content | safe }}
    </div>
    <div id="fade-out-bottom"></div>
</main>
{% endblock content %}