<div id="footer">
    <div id="footerContainer">
        <div id="footerTop">
            <div id="logos">
                <a id="logoPlaceholder" href="/" title="Home">
                </a>
                <a class="socialLink fa-brands fa-github fa-2x" href="https://github.com/Dynamotivation"
                    title="Dynamotivation on GitHub"></a>
                <a class="socialLink fa-brands fa-youtube fa-2x" href="TODO" title="Dynamotivation on Youtube"></a>
            </div>
            <div id="linkColumns">
                <div id="categories">
                    <p href="TODO">Categories</p>
                    <a href="TODO">Announcements</a>
                    <a href="TODO">Software</a>
                    <a href="TODO">Changelogs</a>
                    <a href="TODO">Blog</a>
                    <a href="TODO">Tutorials</a>
                </div>
                <div id="products">
                    <p href="TODO">Products</p>
                    <a href="TODO">Lorem Ipsum</a>
                    <a href="TODO">Sol Dolorem</a>
                    <a href="TODO">Sit Amet</a>
                    <a href="TODO">Istum</a>
                </div>
                <div id="legal">
                    <p href="TODO">Legal</p>
                    <a href="TODO">About</a>
                    <a href="TODO">Contact & Support</a>
                    <a href="TODO">Legal Notice</a>
                    <a href="TODO">Privacy Notice</a>
                    <a href="TODO">Third Party Licenses</a>
                </div>
            </div>
        </div>
        <div id="footerBottom">
            <p>© 2021 Dynamotivation</p>
        </div>
    </div>
</div>