<div id="header">
    <div id="headerContent">
        <a id="logoLink" href="/" title="Home">
            <div>
                <img id="logo" src={{ get_url(path="images/innerLogo.svg" ) }} alt="Dynamotivation Logo"
                    draggable="false">
                <img id="logoDuplicate" src={{ get_url(path="images/innerLogo.svg" ) }} draggable="false">
            </div>
        </a>

        <nav id="sectionLinks">
            <div>
                <a class="sectionLinkHitbox" href="/" tabindex="-1">This</a>
                <a class="sectionLink" href="/">This</a>
            </div>
            <div>
                <a class="sectionLinkHitbox" href="/" tabindex="-1">Is</a>
                <a class="sectionLink" href="/">Is</a>
            </div>
            <div>
                <a class="sectionLinkHitbox" href="/" tabindex="-1">A</a>
                <a class="sectionLink" href="/">A</a>
            </div>
            <div>
                <a class="sectionLinkHitbox" href="/" tabindex="-1">Test</a>
                <a class="sectionLink" href="/">Test</a>
            </div>
        </nav>

        <nav id="userLinks">
            <a class="socialLink fa-brands fa-github fa-2x" href="https://github.com/Dynamotivation"
                title="Dynamotivation on GitHub"></a>
        </nav>
    </div>
</div>