{% extends "base.html" %}

{% block additionalResources%}
<link rel="stylesheet" href={{ get_url(path="css/homepage.css" ) }}>
{% endblock additionalResources%}

{% block content %}
<div id="splashScreen">
  <div id="introductionContainer">
  </div>
  <div id="coverContainer">
    <div id="leftIconStack">
      <div class="wrapper">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
    <div id="centreLogoStack">
      <div class="wrapper">
        <div class="placeholder"></div>
        <img id="logo" src={{ get_url(path="images/innerLogo.svg" ) }} draggable="false">
        <div class="placeholder"></div>
      </div>
    </div>
    <div id="rightIconStack">
      <div class="wrapper">
        <div class="placeholder"></div>
        <div class="placeholder"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}