{% extends "base.html" %}

{% block additionalResources%}
<link rel="stylesheet" href={{ get_url(path="css/homepage.css" ) }}>
{% endblock additionalResources%}

{% block content %}
<div id="splashScreen">
  <div id="introductionContainer">
    <h1>Hi, I'm Dynamotivation</h1>
    <p>Software developer</p>
  </div>
  <div id="coverWrapper">
    <div id="coverContainer">
      <div id="leftIconStack">
        <div class="wrapper">
          <div id="battleMemeGeneratorIcon">
            <img class="icon" src={{ get_url(path="images/joinsTheBattle/iconForeground.webp" ) }} alt="Everybody Joins the Battle Meme Generator Icon" draggable="false">
          </div>
          <div id="allOutAttackGeneratorIcon">
            <img class="icon" src={{ get_url(path="images/allOutAttackGenerator/iconForeground.webp" ) }} alt="All-out Attack Animation Generator Icon" draggable="false">
          </div>
        </div>
      </div>
      <div id="centreLogoStack">
        <div class="wrapper">
          <div id="ordinarySpaceShooterIcon">
            <img class="icon" src={{ get_url(path="images/ordinarySpaceShooter/iconForeground.webp" ) }} alt="OSS Space Adventure Icon" draggable="false">
          </div>
          <div id="logo">
            <div></div>
            <img src={{ get_url(path="images/InnerLogoForeground.svg" ) }} draggable="false">
          </div>
          <div id="geoBackgroundGeneratorIcon">
            <img src={{ get_url(path="images/geoBackgroundGenerator/iconBackground.svg" ) }} alt="" draggable="false">
            <img class="icon" src={{ get_url(path="images/geoBackgroundGenerator/iconForeground.svg" ) }} alt="Geo Background Generator Icon" draggable="false">
          </div>
        </div>
      </div>
      <div id="rightIconStack">
        <div class="wrapper">
          <div id="benPlaysGamesSoundboardIcon">
            <img src={{ get_url(path="images/benPlaysGamesSoundboard/iconBackground.webp" ) }} alt="" draggable="false">
            <img class="icon" src={{ get_url(path="images/benPlaysGamesSoundboard/iconForeground.webp" ) }} alt="BenPlaysGames Soundboard Icon" draggable="false">
          </div>
          <div id="mysteryProjectIcon">
            <img src={{ get_url(path="images/placeholder/iconBackground.svg" ) }} alt="" draggable="false">
            <img class="icon" src={{ get_url(path="images/placeholder/iconForeground.svg" ) }} alt="Mystery Project Icon" draggable="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}