{% extends "base.html" %}

{% block additionalResources %}
<link rel="stylesheet" href={{ get_url(path="css/sections/software/section.css" ) }}>
<script src={{ get_url(path="js/blogPage.js" ) }} defer></script>
{% endblock additionalResources %}

{% block content %}

{%- if pages is defined %}
{%- elif paginator is defined %}
{%- set pages = paginator.pages %}
{%- elif term is defined %}
{%- set pages = term.pages %}
{%- elif section is defined %}
{%- set pages = section.pages %}
{%- else %}
{%- set pages = [] %}
{%- endif %}

<div id="pageContainer">
    <div id="fade-out-top"></div>
    <div id="titleContainer">
        <h1 id="pageTitle">{{ section.title }}</h1>
    </div>

    <div id="descriptionContainer">
        <p>
            {{ section.description | safe }}
        </p>
    </div>

    {% if pages|length == 0 %}
    <p>
        <i>There is nothing to see here yet.</i>
    </p>
    {% endif %}

    <div id="fade-out-bottom"></div>
</div>

{% if pages|length != 0 %}
<div id="postGrid">
    {% for page in pages %}
    <div class="postContainer">
        <a href="{{ page.permalink }}" class="postLink">
            <div class="postShadow"></div>
        </a>

        <div class="postBorder">
            <div class="postContent">
                <img class="logo" src="{{ page.extra["logo"] }}" alt="{{ page.title }} logo">
                <div class="postMetadata">
                    <strong class="postTitle">{{ page.title }}</strong>
                    <span class="postDate">{{ page.date }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}